@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:azure ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    }

 header {
        
        min-height: 70px;
        text-align: center;
        padding-top: 20px;
            }
        

 nav {
               
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 20px;
                text-align: center;
                box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
                text-align: center;
         }

         nav > a{
            color:black;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            transition-duration: 0.5;
        }
        nav > a:hover{
            background-color: blueviolet;
            color:brown;
        }
         main{
            min-width: 300px;
            max-width: 1000px;
            margin: auto;
            margin-bottom: 30px;
            padding: 20px;
           background-color: white;
           box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418); 
           border-bottom-left-radius: 10px; 
           border-bottom-right-radius:10px ;   
            }
main img{
        width: 100%;
    display: block;
    margin: auto
  
}
        
            main h1{
               text-align: center;
               padding-top: 5px;
               padding-bottom: 5px;
                    }
            main h2 {
            text-align:  center;
            padding-top: 5px;
                    }
            main p {
                margin: 15px 0px 15px 0px;
                text-align: justify;
                text-indent: 30px;
                font-size: 1em;
                line-height: 1.5em;
            }
footer{
    
    color: black;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}